body{
    text-align: justify;
    color: #00B7AE;
    background: url('../img/Background-01.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
strong {
    color:#00B7AE;
    font-family: 'Oswald Regular';
}
p {
  color:whitesmoke;  
}
.blur{
    border-style: ridge;
    border-width: 3px; 
    text-shadow:0 1px 1px rgba(0,0,0,.6);
    transition: box-shadow .5s ease;
    border-color: #00B7AE; 
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
p.ridge {
    border-style: ridge;
    border-color: #00B7AE;
    border-width: 3px; 
    text-shadow:0 1px 1px rgba(0,0,0,.6);
    transition: box-shadow .5s ease; 
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
p.blur2 {
    border-style: ridge;
    border-color: #00B7AE;
    text-shadow:0 1px 1px rgba(0,0,0,.6);
    transition: box-shadow .5s ease;
    color: whitesmoke;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none;
    font-weight:bold;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: left;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}

