body{
    text-align: justify;
    color: #A0A0A0;
    background: url('../img/back7.png');
    background-attachment: fixed;
}
a:hover {
  cursor: url('../img/Cursor.png'); 
}
strong {
    color:aqua;
}
p {
  color:whitesmoke;  
}

p.ridge {
    border-style: ridge;
    border-width: 3px; 
    text-shadow:0 1px 1px rgba(0,0,0,.6);
    transition: box-shadow .5s ease;
    border-color: aqua; 
    padding: 10px;
    background: rgba(0,0,0,0.7);
}