body{
    background: url('../img/Background-01.jpg');
    background-size: 1350px;
    background-attachment: fixed;
    overflow-x: hidden;
}
p{
  color: whitesmoke;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contact-main-text{
    color: whitesmoke;
    text-align: center;
}
.blur{
  background: rgba(0,0,0,0.85);
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-body{
  background: rgba(0,0,0,0.7);
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-textbox{
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  margin-top: -30px;
  margin-left: 120px;
  height: 30px;
  display: block;
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-textarea{
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  display: block;
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-button{
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  height: 30px;
  display: block;
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
strong{
    color: whitesmoke;
}