body{
    background: url('../img/back3_blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
p{
  color: white;
}
div .modal-content{
    background-color: gray;
}