body{
    background: url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
p{
  color: whitesmoke;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contact-main-text{
    color: whitesmoke;
    text-align: center;
}
