    body{
        background-color: black;
    }
    #magazine .turn-page{
        background-color:#ddd;
        background-size:100% 50%;
    }
    #curr .col-md-12{
    text-align: justify;
    }
#curr .curpic{
    image-resolution: 300dpi;
}