    body{
        background-color: white;
    }
    #magazine .turn-page{
        background-color:#ddd;
        background-size:100% 50%;
    }
    #curr .col-md-12{
    text-align: justify;
    }
    img{
        display: block;
        width: 75%;
        align-content: center;
        margin: auto;
    }