.panel-heading {
    padding: 5px 15px;
    color: #A0A0A0;
}

.bottom-footer {
	padding: 15px 5px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 10px auto 25px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

body {
    background: url('../img/back2.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;

}
strong{
    color: aqua;
}

.blur{
  background-color: rgba(0,0,0,0.5);
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-textbox{
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-login{
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.blur-login:hover{
  padding: 10px;
  background-color: green;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}

