.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        color: aliceblue;
        background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
}
.nav.navbar-nav li a{
        color: aliceblue;
        font-family: 'Oswald Regular';
        font-size: 1.3em !important;
}
.nav.navbar-nav > li > a:hover, .nav.navbar-nav > li > a:focus {
        color: #00C5C5;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
}
.dropdown .dropdown-menu li a{
        color: white ;
        text-decoration: none;
        background-color: rgba(0,0,0,0.5);

}
.dropdown .dropdown-menu li a:hover{
        color: #00C5C5;
        text-decoration: none;
        background-color: rgba(0,0,0,0);
}
.dropdown .dropdown-menu{
        background-color: rgba(0,0,0,0.5);
}
