body{
    background: url('../img/back7.png');
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: aqua;
}

p{
  color: whitesmoke;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contact-main-text{
    color: whitesmoke;
    text-align: center;
}
