video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 1280px;
  height: 1080px;
  height: 1020px;
  z-index: -100;
  transform: translate(-50%, -50%);
}


#myTimer {
  font:64px Tahoma bold;
  padding:20px;
  display:block;
}

div a {
  width:120px;
  padding:10px;

}

.btnEnable {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color:whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.btnEnable:hover {
  padding: 10px;
  background-color: green;
  color:whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
  cursor:pointer;
}

.btnDisable {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color: whitesmoke;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  transition: box-shadow .5s ease;
}
.btnDisable:hover {
  padding: 10px;
  background-color: red;
  color: whitesmoke;
  cursor:wait;
}