body{
    background: url('../img/Background-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.position1{
    margin-top: 500px;
}
.background2{
    background-color: gray;
    background-size: cover;
}
strong {
   color: aqua;
   font-family: Transformers;
}
h1 strong{
    font-size: 70px;
}
.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
#gallery-carousel {
  margin-top: 50px;
  max-height: 500px;
  min-height: 200px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
#gallery-carousel .container {
  height: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  padding-bottom: 100px;
}
.carousel-control, .carousel-control.right, .carousel-control.left {
  height: 50%;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  margin-top: auto;
  margin-bottom: auto;
}
.item {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 500px;
}
.fillwidth {
  position: relative;
  width: 100%;
  top: 0;
}

@font-face {
    font-family: 'Oswald'
    src: url('/fonts/Oswald-Regular.ttf') format('truetype');
}

.spinning-logo {
    width: 850px;
    height: 850px;
    margin-top: -100px;
    margin-left: -250px;
}

.navigation-buttons {
    width: 250px;
    height: auto;
}

.nav1 {
    margin-top: -1000px;
    
} 

.nav1:hover {
    content: url("../img/nav-home-01-hover.svg");
}

.nav2 {
    margin-top: -880px;
    margin-left: -254px
} 

.nav3 {
    margin-top: -760px;
    margin-left: -254px
} 

.nav4 {
    margin-top: -1000px;
    margin-left: 625px
} 

.nav5 {
    margin-top: -920px;
    margin-left: 880px
} 

.nav6 {
    margin-top: -845px;
    margin-left: 880px
} 

.nav7 {
    margin-top: -400px;
    margin-left: -500px;
} 

.nav8 {
    margin-top: -440px;
    margin-left: 240px;
} 