 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Create Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/createaccount.css">
  </head>
  <body>
      <div class="container">
          <div align ="center">
              <h2><strong>Create Account</strong></h2>
          </div>
          <form method="post" action="">
              <div class="form-group form-inline">
                  <label><strong>First Name:</strong></label>
                  <input type="text" class="form-control" placeholder="first name">
                  <div class="form-group">
                  <table class="table-bordered">
                      <thead>marx</thead>
                      <tbody>
                          <tr>
                              sadsad
                          </tr>
                          <tr>
                              sadasd
                          </tr>
                          <td>
                            <label><strong>First Name:</strong></label>
                            <input type="text" class="form-control" placeholder="first name">
                          </td>
                      </tbody>
                  </table>
                  </div>
              </div>
          </form>
      </div>
  </body>
  </html>
 <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
